$primary-color: black;
$secondary-color: white;
$grey-color: grey;
$brown-color: brown;
$spacer: 1em;

$black-font: black;
$white-font: white;
$font-arial: 'Arial', sans-serif;
$font-size-base: 16px;
$font-size-large: 26px;
$font-size-nav: 20px;

$breakpoints:(mobile: 300px, tablet: 800px, desktop: 1200px);

$button-width-big: 200px;
$button-width-small: 80px;
$button-height-big: 80px;
$button-height-small: 30px;